<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shree/IdeaProjects/SDET_Maven">

        <parameter name="browserName" value="chrome"></parameter>
        <classes>
           
            <class name="Parameterization.DataProviderOne">
                <methods>

                </methods>
            </class>
        </classes>
    </test>
</suite>